nac:
  api_url: http://0.0.0.0:8000
  api_key: ghp_xxxxxxxxxxxxxxxx
  scm_provider: github
  scm_api_url: https://
  repository_url: username/repository
  data_sources_dir: data
nexus_dashboard:
  api_key: xxxxxxxxxxxxxxxxxxxxx
  url: https://10.x.x.x
  username: admin
  fabric_name: XXXXXXXXXXXXX
netbox:
  url: https://netbox.example.com
  username: admin
  api_key: xxxxxxxxxxxxxxxxxxxxx
  prefix_settings:
    - role_id: 1
      name: Production
      slug: production
      prefix_id: 456
    - role_id: 2
      name: Development
      slug: development
      prefix_id: 457
    - role_id: 3
      name: Management
      slug: management
      prefix_id: 458
  vlan_group_settings:
    - id: 1
      name: DC1-VLANs
      min_vid: 100
      max_vid: 199
      vlan_range: 100-199
    - id: 2
      name: DC2-VLANs
      min_vid: 200
      max_vid: 299
      vlan_range: 200-299